{% extends 'base.html' %}
{% load static%}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
<style type="text/css" media="Screen">

.blink_me {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: black; }
  50% { color: red; }
  100% { color: blue; }
}

* .sized {
    table-layout: auto;
  width: 100%;
}

body{
    background-image: url('{% static 'images/bg.png' %}');  background-position: center center; font-weight:bold;
    margins: 0px 0px 0px 0px;
}

.bginput
{
background-color:rgba(0, 0, 0, 0);
    color:black;
    border: 2px sold black;
    outline:none;
    font-weight:bold;
    transition:height 1s;
    -webkit-transition:height 1s;
}

* .p1 {
  width: 20%;
  background: pink;
}

* .p2 {
  width: 80%;
  background: gold;
}

* .p3 {
  width: 50%;
  vertical-align: top;

}

.msgbox {
    margin:4px, 4px;
    padding:4px;
    height: 140px;
    overflow-y: hidden;
    text-align:justify;
}

.msgbox:hover {
  overflow-y: scroll;
}

.msgbox::-webkit-scrollbar {
    width: 3px;
    margin: 6px;
}

.msgbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

.msgbox::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

video {
  pointer-events: none;
}

</style>

<script>
  $(document).ready(function() {
    party.confetti(document.getElementById('confetti'),{
    count: 100,gravity: 8
    });
  });
</script>



<!-- 1. The <iframe> (video player) will replace this <div> tag. -->


<!--<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: 'vLVRtFKtZew',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.mute();
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
   // player.stopVideo();
  }
</script> -->
<!--
<iframe src="https://www.youtube.com/embed/vLVRtFKtZew?autoplay=1&mute=1&loop=1"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;"

<div class="row">
    <div id="player" class="col embed-responsive embed-responsive-16by9">

    </div>
</div>
--->
<div class="row">
    <div class="col text-center">
        <h3 id="confetti">Aloha! I am Turning 1</h3>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <img class="img-fluid img-responsive" src="{% static 'images/uv.gif' %}">
    </div>
</div>
{% if guest_detail %}
<div class="row">
    <div class="col text-center">
        <br><p>Dear {{guest_detail.invitee}}</p>
        <p class="text-center">
            We take immense pleasure to invite you as we celebrate Yuvaan’s birthday.
            <!--As he learns to crawl around, we know he is growing by leaps and bounds.
It is time to celebrate his first year, with cakes, balloons and galore!!-->
Come and make the occasion further special with your presence.
        </p>
        <p>~~ Neha & Tushar ~~</p>

    </div>
</div>
<div class="row">
    <div class="col text-center blink_me" style="font-size:1.25em">
        Date: Sat, July, 16<br>
        Time: 5:30 PM
        <br><br>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        Olmsted Club House<br>
            13125 Long Common Pkwy<br>
           Huntersville, NC 28078<br>
        <a href="https://goo.gl/maps/eJGrjTU9sph9hoP47">
            Directions
        </a>
        <br><br>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p style="font-size:.75em; color:white">Theme: Hawaiian [ as of now :) ]. Will update you if plan changes. </p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p onclick="$('#rsvp_form').slideToggle()">Tap to RSVP</p>
    </div>
</div>

<div id="rsvp_form" style="display:none">
    {% if rsvp_details %}<p>Your RSVP is registered. You may update the same.</p>{% endif %}
<form method="post" action="./">
{% csrf_token %}
<input type="hidden" name="guest" value="{{guest_detail.guest_id}}">
<div class="row">
    <div class="col text-center">
        Adults <input type="number" min="0" name="adults" style="width:20%" class="bginput" value="{{rsvp_details.0.adults}}" required>
    </div>
    <div class="col text-center">
        Kids <input type="number" min="0" name="kids" style="width:20%" class="bginput" value="{{rsvp_details.0.kids}}" required>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-9">
       <span style="font-size: 1.5em"> &#128077;</span> We will be there! <input type="radio" name="status" value="Yes" class="bginput" checked>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-9">
        <span style="font-size: 1.5em"> &#128542;</span> We can't make it. <input type="radio" name="status" value="No" class="bginput" {% if rsvp_details.0.status == 'No' %} checked {% endif %}>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-9">
        <span style="font-size: 1.5em"> &#128533;</span> We will try but not sure! <input type="radio" name="status" value="May Be" class="bginput" {% if rsvp_details.0.status == 'May Be' %} checked {% endif %}>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col text-center">
        <button class="bginput" type="submit" style="width:80%">GO!</button><br>
    </div>
</div>

<br><br>
</form>
</div>
{% else %}
    <div class="row">
        <div class="col text-center">
            <br><h1>YAY!!!</h1>
            <h1>I am Turning 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <p>We sent unique link to our guests as invitation and RSVP.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <a href="/manage/login/">Manage Event</a>
        </div>
    </div>
{% endif %}
{% endblock %}