{% extends 'base.html' %}
{% load static%}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
<style type="text/css" media="Screen">

.blink_me {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: black; }
  50% { color: red; }
  100% { color: blue; }
}

* .sized {
    table-layout: auto;
  width: 100%;
}

body{
    //background-image: url('{% static 'images/bg.png' %}');
    background-position: center center; font-weight:bold;
    margins: 0px 0px 0px 0px;
}

.bginput
{
background-color:rgba(0, 0, 0, 0);
    color:black;
    border: 2px sold black;
    outline:none;
    font-weight:bold;
    transition:height 1s;
    -webkit-transition:height 1s;
}

* .p1 {
  width: 20%;
  background: pink;
}

* .p2 {
  width: 80%;
  background: gold;
}

* .p3 {
  width: 50%;
  vertical-align: top;

}

.msgbox {
    margin:4px, 4px;
    padding:4px;
    height: 140px;
    overflow-y: hidden;
    text-align:justify;
}

.msgbox:hover {
  overflow-y: scroll;
}

.msgbox::-webkit-scrollbar {
    width: 3px;
    margin: 6px;
}

.msgbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

.msgbox::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

video {
  pointer-events: none;
}

</style>

<script>
  $(document).ready(function() {
    party.confetti(document.getElementById('confetti'),{
        count: 100,gravity: 8
    });
    setInterval(function () {
        party.confetti(document.getElementById('confetti'),{
            count: 60,gravity: 8
        });
    }, 6000);

    $("#clickontap").click(function() {
        $('#rsvp_form').slideToggle('slow', function(){

        });

    });
  });

  function tap_rsvp(){
    console.log($("#scrolldiv").offset().top);
    $('#rsvp_form').slideToggle('slow', function(){
       console.log($("#scrolldiv").offset().top);
       $('html').animate({
            scrollTop: $("#scrolldiv").offset().top},
            'slow');
        //document.getElementById("scrolldiv").scrollIntoView();

    });
  }

</script>


<div class="row">
    <div class="col text-center">
        <h3 id="confetti"><img class="img-fluid img-responsive" src="{% static 'images/aloha.png' %}"></h3>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <img class="img-fluid img-responsive" src="{% static 'images/uv.gif' %}">
    </div>
</div>
{% if guest_detail %}
<div class="second" id="scrolldiv"></div>
<div class="row">
    <div class="col text-center" style="background-color:yellow">
        <span onclick="$('#rsvp_form').slideToggle()" class="blink_me">Tap Here to RSVP</span>
        {% if rsvp_details %}<br><span style="font-size:0.5em">Your did RSVP previously. You may update the same.</span>{% endif %}
    </div>
</div>


<div id="rsvp_form" style="display:none">

    <form method="post" action="./">
    {% csrf_token %}
    <input type="hidden" name="guest" value="{{guest_detail.guest_id}}">
    <div class="row">
        <div class="col text-center">
            Adults <input type="number" min="0" name="adults" id="adults" style="width:20%" class="bginput" value="{{rsvp_details.0.adults}}" required>
        </div>
        <div class="col text-center">
            Kids <input type="number" min="0" name="kids" id="kids" style="width:20%" class="bginput" value="{{rsvp_details.0.kids}}" required>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
           <span style="font-size: 1.5em"> &#128077;</span> We will be there! <input type="radio" name="status" value="Yes" class="bginput" checked>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <span style="font-size: 1.5em"> &#128542;</span> We can't make it. <input type="radio" name="status" onclick="$('#kids').val('0');$('#adults').val('0');" value="No" class="bginput" {% if rsvp_details.0.status == 'No' %} checked {% endif %}>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <span style="font-size: 1.5em"> &#128533;</span> We will try but not sure! <input type="radio" name="status" value="May Be" class="bginput" {% if rsvp_details.0.status == 'May Be' %} checked {% endif %}>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="bginput" type="submit" style="width:80%">GO!</button><br>
        </div>
    </div>

    <br><br>
    </form>
</div>

<div class="row">
    <div class="col text-center">
        <br><p>Dear {{guest_detail.invitee}}</p>
        <p class="text-center">
            We take immense pleasure to invite you as we celebrate Yuvaan’s FIRST birthday.
            <!--As he learns to crawl around, we know he is growing by leaps and bounds.
It is time to celebrate his first year, with cakes, balloons and galore!!-->
Come and make the occasion further special with your presence.
        </p>
        <p>~~ Neha & Tushar ~~</p>

    </div>
</div>
<div class="row">
    <div class="col text-center blink_me" style="font-size:1.25em">
        Date: Sat, July, 16<br>
        Time: 5:30 PM
        <br><br>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        Place:<br>
        Olmsted Club House<br>
            13125 Long Common Pkwy<br>
           Huntersville, NC 28078<br>
        <a href="https://goo.gl/maps/eJGrjTU9sph9hoP47" style="color:black">
            Directions
        </a>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1035.558245396876!2d-80.7943865!3d35.3855041!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541d4c72fcc93b%3A0x6cc813b65a14e1fc!2s13125%20Long%20Common%20Pkwy%2C%20Huntersville%2C%20NC%2028078!5e1!3m2!1sen!2sus!4v1653347910765!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</div>
<div class="row" style="display:none">
    <div class="col text-center">
        <p style="font-size:.75em; color:black">Theme: Hawaiian [ as of now :) ]. Will update you if plan changes. </p>
    </div>
</div>
<div class="row">
    <div class="col text-center" style="background-color:yellow">
        <span onclick="$('#rsvp_form').show();document.getElementById('scrolldiv').scrollIntoView();" class="blink_me">Tap Here to RSVP</span>
        {% if rsvp_details %}<br><span style="font-size:0.5em">Your did RSVP previously. You may update the same.</span>{% endif %}
    </div>
</div>

{% else %}
    <div class="row">
        <div class="col text-center">
            <br><h1>YAY!!!</h1>
            <h1>I am Turning 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <p>We sent unique link to our guests as invitation and RSVP.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <a href="/manage/">Manage Event</a>
        </div>
    </div>
{% endif %}
{% endblock %}