{% extends 'base.html' %}
{% load static%}
{% block content %}
<style type="text/css" media="Screen">
* .sized {
    table-layout: auto;
  width: 100%;
}

* .p1 {
  width: 20%;
  background: pink;
}

* .p2 {
  width: 80%;
  background: gold;
}

* .p3 {
  width: 50%;
  vertical-align: top;

}

.msgbox {
    margin:4px, 4px;
    padding:4px;
    height: 140px;
    overflow-y: hidden;
    text-align:justify;
}

.msgbox:hover {
  overflow-y: scroll;
}

.msgbox::-webkit-scrollbar {
    width: 3px;
    margin: 6px;
}

.msgbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

.msgbox::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
</style>
 <p><a href="/manage/guests/">Guests</a> </p>
    <p><a href="/rsvp/">RSVP Status</a> </p>
<h1>RSVP List</h1>
<table class="rbstable">
    <tr>
        <th>Guest</th>
        <th>Adults</th>
        <th>Kids</th>
        <th>Status</th>
    </tr>
    {% for guest in rsvp %}
        <tr>
            <td>{{guest.guest_name}}</td>
            <td>{{guest.adults}}</td>
            <td>{{guest.kids}}</td>
            <td>{{guest.status}}</td>
        </tr>
    {% endfor %}
</table>

<br>
<h2>RSVP Numbers </h2>
<table class="rbstable">
    <tr>
        <th>Coming</th>
        <th>Totals</th>
        <th>Adults</th>
        <th>Kids</th>

    </tr>
    {% for rec in rsvp_totals %}
    <tr>
        <td>{{ rec.status }}</td>
        <td>{{ rec.totals }}</td>
        <td>{{ rec.adults }}</td>
        <td>{{ rec.kids }}</td>

    </tr>
    {% endfor %}
</table>
{% endblock %}